body{
  margin: 0;
  background-color: gray;
  overflow: hidden;
}
header{
  display: flex;
  justify-content: space-around;
}
h1{
  font-size: 8rem;
  margin: 4rem;
}
.fa{
  font-size: 15rem;
}
.arena{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players{
  display: flex;
}
.player{
  margin: 0 10rem;
}

.getBig{
  font-size: 17rem;
}

.getSmall{
  font-size: 13rem;
}
